@font-face {
    font-family: "CartooNature";
    src: url(./fonts/CartooNature.ttf) format("truetype");
    font-weight: normal;
    font-size: normal;
}

dialog {
    padding:0.1rem 1rem 0.1rem 1rem;
    border: none;
    border-radius: 10px;
    background-color: azure;
    font-size: 16px;
    color:black;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.377);
    
}

#editprojectform, #edittaskform {
    padding:1.5rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
}

dialog button {
    border:none;
    cursor: pointer;
    padding:0.4rem 1rem 0.4rem 1rem;
    background-color: dodgerblue;
    color: azure;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.377);
}

body {
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width:100vw;
    height: 100vh;
    box-sizing: border-box;
    margin:0;
    padding:0;
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 20vh 80vh;
    grid-template-areas: "logo header" 
                        "sidebar content";
    background-color: slategrey;
    color:aliceblue;
}

.logo {
    cursor: pointer;
    background-color: dodgerblue;
    grid-area: logo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-top-left-radius: 10px;
}

.logo img {
    height: 80%;
}

.logo p {
    margin: 0;
    font-family: "CartooNature";
    font-size: 34px;
    color: white;
    font-style: oblique;
    text-shadow:
        1px 1px 0 black,
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black;
    
}
.header {
    background-color: dodgerblue;
    grid-area: header;
    display: flex;
    padding:1rem;
    justify-content: space-between;
}
.header h2 , p {
    margin:0;
}

.projname {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projectbox {
    display: flex;
    gap:0.2rem;
}

.tasksduetoday {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.tasksduetoday :nth-child(2) {
    cursor: pointer;
}

.sidebar {
    background-color: dodgerblue;
    grid-area: sidebar;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 20px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    max-height: 50vh;
    overflow: scroll;
}
.projects::-webkit-scrollbar {
    display: none;
}

.projectbox p, #settingsbtn, #cleandonetasksbtn {
    padding:0.1rem 1rem 0.1rem 1rem;
    border-radius: 10px;
    background-color: azure;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color:black;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.377);
}

.roundbtn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 26px;
    height:26px;
    border-radius: 50%;
    background-color: azure;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.377);
    align-self: center;
}
.roundbtn img {
    width:75%;
    transform: translate(-1px, -1px);
}




.content {
    background-color:dodgerblue;
    grid-area: content;
    display: flex;
    flex-direction: column;  
}

#taskslist {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
    background-color: hsl(208, 100%, 97%);
    border-radius: 10px 0px 0px 0px;
    height:100%;
    width:100%;
    overflow: scroll;
}
#taskslist::-webkit-scrollbar {
    display: none;
}

.plusbtn {
    cursor: pointer;
    align-self: center;
    display: flex;
    justify-content: center;
    width:3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: dodgerblue;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.377);
}

.plusbtnwhite {
    cursor: pointer;
    align-self: center;
    display: flex;
    justify-content: center;
    width:3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: azure;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.377);
}

.plusbtn p {
    font-size: 3rem;
    transform: translateY(-13px);  
}

.plusbtnwhite b {
    color:black;
    font-size: 3rem;
    font-weight: 500;
    transform: translateY(-13px);
}
.check {
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    align-self: center;
    width:1.4rem;
    height:1.4rem;
    background-color: rgb(19, 73, 126);
    border-radius: 50%;
    border:2px solid azure;
}

.checkmark {
    cursor: pointer;
    align-self: center;
    width:0.9rem;
    height:0.9rem;
    background-color: rgb(126, 19, 19);
    border-radius: 50%;
    border:2px solid rgb(255, 245, 240);
}

.task {
    justify-content: space-between;
    gap:1rem;
    display:flex;
    flex-direction: column;
    border-radius: 10px;
    padding:1rem;
    margin:0.5rem 0.5rem 0rem 0.5rem;
    background-color: dodgerblue;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.377);
}

.flexcontainer {
    width:100%;
    display: flex;
    justify-content: space-between;
}

.expandedtask {
    display: flex;
    flex-direction: column;
}

.expandedtask img {
    width:1.5rem;
    cursor: pointer;
}

#notelist {
    margin-left: 2.5rem;
}

.editremove {
    align-self: flex-end;
}

#notes {
    white-space: pre-wrap;
}

.task:has(.completed) {
    background-color: rgb(105, 105, 105);
}
