@font-face {
    font-family: "CartooNature";
    src: url(./fonts/CartooNature.ttf) format("truetype");
    font-weight: normal;
    font-size: normal;
}

body {
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width:100vw;
    height: 100vh;
    box-sizing: border-box;
    margin:0;
    padding:0;
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 20vh 80vh;
    grid-template-areas: "logo header" 
                        "sidebar content";
}

.logo {
    background-color: brown;
    grid-area: logo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem

}

.logo img {
    height: 7rem;
}

.logo p {
    margin: 0;
    font-family: "CartooNature";
    font-size: 34px;
    color: white;
    font-style: oblique;
    text-shadow:
        1px 1px 0 black,
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black;
}
.header {
    background-color: aqua;
    grid-area: header;
    display: flex;
    padding:1rem;
    justify-content: space-between;
}
.header h2 , p {
    margin:0;
}

.projname {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tasksduetoday {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.tasksduetoday :nth-child(2) {
    cursor: pointer;
}
.sidebar {
    background-color: brown;
    grid-area: sidebar;
}

.content {
    background-color:bisque;
    grid-area: content;
}